footer
  .container
    p.pull-left © 2018 Samskriti Foundation, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/samskritifoundation/eform/tree/glitch') GitHub Project
      li
        a(href='https://github.com/samskritifoundation/eform/issues') Issues
